p
{
	color: red;
	font-size: 22px;
}

p#gruby_nikitsenka
{
	color: green;
	font-size 17px;
	font-weight: bold;
}


#dlawszyskich_nikitsenka
{
	color: yellow;
	font-size: 10px;
	font-family: Arial;
}